*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #4a5b6a;
    height: 100px;
}

.nav{
    display: flex;
    gap: 30px;
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.portada{
    background-color: #4a5b6a;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.imagen{
    width: 80%;
    height: auto;
    margin-left: 260px;
}

.texto{
    width: 50%;
    padding: 20px;
    margin-right: 400px;
}

.texto h1{
    color: white;
    font-size: 48px;
}

.texto .blanco{
    font-size: 18px;
    color: white;
    line-height: 1.5;
    margin-top: 20px;
}

.texto .gris{
    font-size: 16px;
    color: rgb(200, 200, 200);
    line-height: 1.5;
    margin-top: 20px;
}

.boton{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.boton .azul{
    background-color: #3b8be3;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 30px; 
    font-size: 15px;
    text-decoration: none;
    height: 20px;

}

.boton .normal{
    color: white;
    border: none;
    text-decoration: none;
    font-size: 15px;
    margin-top: 13px;
}

.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(240, 240, 240);
    height: 100px;
}

.funciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    height: 500px;
    gap: 50px;
    padding: 20px;
}

.funciones .funcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
}

.funcion h2{
    font-size: 24px;
    color: rgba(43, 75, 107, 0.878);
    margin-top: 15px;
}

.funcion p{
    font-size: 15px;
    color: rgb(116, 110, 110);
    margin-top: 10px;
    width: 300px;
    
}

.funcion a{
    background-color: #3b8be3;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 10px; 
    font-size: 15px;
    text-decoration: none;
    height: 20px;
}

.celulares{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    gap: -17px;
}

.lados{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    height: 600px;
    gap: 50px;
    padding: 20px;
}

.informacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.parrafo{
    display: flex;
    flex-direction: column;
}

.parrafo p{
    font-size: 16px;
    color: rgb(116, 110, 110);
    margin-top: 10px;
    width: 450px;
    font-weight: bolder;
}

.lado a .derecho a{
    background-color: #3b8be3;
    text-decoration: none;
    font-weight: bolder;
}

.lado{
    height: 70%;
}

.derecho{
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 70px;
    margin-right: 50px;
}

.derecho p{
    font-size: 16px;
    color: rgb(116, 110, 110);
    margin-top: -10px;
    width: 450px;
    font-weight: bolder;
}

.derecho h3{
    font-size: 13px;
    color: rgb(116, 110, 110);
    margin-top: -7px;
}

hr{
    border: 1px solid rgb(116, 110, 110);
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    gap: 20px;
}

.nombre{
    font-size: 16px;
    color: rgb(116, 110, 110);
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

