*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #4a5b6a;
    height: 100px;
}

.nav{
    display: flex;
    gap: 30px;
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.portada{
    background-color: #4a5b6a;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.imagen{
    width: 80%;
    height: auto;
    margin-left: 260px;
}

.texto{
    width: 50%;
    padding: 20px;
    margin-right: 400px;
}

.texto h1{
    color: white;
    font-size: 48px;
}

.texto .blanco{
    font-size: 18px;
    color: white;
    line-height: 1.5;
    margin-top: 20px;
}

.texto .gris{
    font-size: 16px;
    color: rgb(200, 200, 200);
    line-height: 1.5;
    margin-top: 20px;
}

.boton{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.boton .azul{
    background-color: #3b8be3;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 30px; 
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    height: 25px;
}

.boton .normal{
    color: white;
    border: none;
    text-decoration: none;
    font-size: 20px;
    margin-top: 13px;
}

